<%= header(@klass) %>

<%= link_to '« Back To Table View', '?view=table' %>

<% unless @items.blank? %>
<ul id='items' class='sortable-list'>
	<% @items.each do |item| %>
	 <%= render :partial => 'admin/wilderness/partials/sort_list_item', :locals => {:item => item} %>
	<% end %>
</ul>
<% else %>
	<div id='nothing-found'>No Items Found</div>
<% end %>

<%= will_paginate @items if @items.is_a? WillPaginate::Collection %>

<%= sortable_element :items, :url => { :action => 'sort' } %>
