<% if images.size > 0 %>
<ul>
  <% images.each do |image| %>
    	<li>
      	<a href="javascript:void(0)" onclick="<%= "ImageDialog.showWildernessPreview('#{image.attachment.url}');ImageDialog.wildernessInsertImage('#{image.attachment.url}','#{image.title || " "}');" %>">
      <%= image_tag(image.attachment.url(:thumb)) %></a>
    	</li>
  <% end %>
</ul>
<% else %>
 No Images Uploaded Yet.
<% end %>

<% if images.length > images.first.class.per_page %>
	<div class='pagination' id='pagination' style='clear:both'>
		Go to page:                      
		<% if images.length > images.first.class.per_page and params[:page] != 1 %>
			<%= link_to_remote 'First', :url => "#{gallery_admin_assets_path}?page=1" %>                     
		<% end %>
		<% if images.length > images.first.class.per_page and (params[:page] == 1) %>
			<%= link_to_remote 'Last', :url => "#{gallery_admin_assets_path}?page=#{images.total_pages}" %> 
		<% end %>
		<% if images.previous_page %>
			<%= link_to_remote 'Previous', :url =>"#{gallery_admin_assets_path}?page=#{images.previous_page}" %>
		<% end %>
		<% if images.next_page %>
			<%= link_to_remote 'Next', :url =>"#{gallery_admin_assets_path}?page=#{images.next_page}", :method => :get %>
		<% end %> 
	</div>  
<% end %>