<% form_for([@comment]) do |f| %>
	
	<%= f.error_messages %>

	<h3>Add A Comment</h3>
  
	<%= f.error_messages %>
	
  <label>Comment Title</label>
  <%= f.text_field :title %>

  <label>Comment</label>
  <%= f.text_area :content, :rows=>5, :cols=>50 %>

  <label>Your Name</label>
  <%= f.text_field :author %>

  <label>Your Email</label>
  <%= f.text_field :author_email %>

  <label>Your Website</label>
  <%= f.text_field :author_url %>

  <%= f.hidden_field :commentable_type, :value => commentable_type %>
  <%= f.hidden_field :commentable_id, :value => commentable_id %>
	
  <p>
    <%= f.submit 'Create' %>
  </p>

<% end if @comment %>