<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
		<title><%= @page_title || APP_CONFIG[:site_name] %></title>
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="distribution" content="all" />
		<meta name="robots" content="all" />	
		<meta name="resource-type" content="document" />
		<meta name="MSSmartTagsPreventParsing" content="true" />
	  <% bundle :name => 'wilderness-back-end' do %>
			<%= stylesheet_link_tag 'base' %> 
			<%= stylesheet_link_tag 'wilderness/wilderness-back-end' %> 
			<%= stylesheet_link_tag 'cms' %> 
			<%= stylesheet_link_tag 'wilderness/comments' %> 
			<%= stylesheet_link_tag 'wilderness/pagination ' %> 
			<%= javascript_include_tag :defaults %>
			<%= javascript_include_tag "wilderness/wilderness" %>   
			<%= javascript_include_tag "wilderness/jquery-1.3.2.min" %>   
			<%= javascript_include_tag 'wilderness/flowplayer-3.1.0.min' %>
			<%= javascript_include_tag 'wilderness/file_browser' %>  
			<%= javascript_include_tag "wilderness/audio-player.js" %>
		<% end %>
		<%= include_tiny_mce_if_needed %>
	  <script type="text/javascript">
			  jQuery.noConflict();
		</script>          		
	</head>
	<body>             
		<%= navigation %>      
		<div id="container">
			<p><%= link_to @preferences.site_name, '/' %> « go to site | Logged in as <%= current_user.login %></p> 
			<div id="content">
				<%= flash_messages %>
				<%= yield :layout %>
			</div>   
		</div>
		<div id='footer'>  
			<p>&copy; <%= Date.today.year %> <%= link_to 'Gordon B. Isnor', 'http://www.isnorcreative.com' %></p>
		</div>     
	</body>
</html>